# Visual Studio
bin
obj
*.sln.ide
*.suo
*.user
.vs
_PublishedWebsites

# Resharper
_Resharper.Caches

# macOS
.DS_Store

# NuGet
/packages

# Node JS
node_modules

# CI
/artifacts
build/tools/*
!build/tools/*.zip
build/.store

# dotnet pipeline
.dotnet/
.packages/

.tools/*
!.tools/msbuild/

.tools/msbuild/*
!.tools/msbuild/*/

.tools/msbuild/*/*
!.tools/msbuild/*/tools/

.tools/msbuild/*/tools/*
!.tools/msbuild/*/tools/MSBuild/

.tools/msbuild/*/tools/MSBuild/*
!.tools/msbuild/*/tools/MSBuild/Microsoft/

.tools/msbuild/*/tools/MSBuild/Microsoft/*
!.tools/msbuild/*/tools/MSBuild/Microsoft/VisualStudio/

.tools/msbuild/*/tools/MSBuild/Microsoft/VisualStudio/*
!.tools/msbuild/*/tools/MSBuild/Microsoft/VisualStudio/v16.0/

.tools/msbuild/*/tools/MSBuild/Microsoft/VisualStudio/v16.0/*
!.tools/msbuild/*/tools/MSBuild/Microsoft/VisualStudio/v16.0/Web*/

# Tests results
/TestResults
/net4.xml
/netcoreapp*.xml